/* NotoSerifDisplay */
@font-face {
  font-family: NotoSerifDisplay;
  font-weight: 300;
  src:  url('/fonts/NotoSerifDisplay/NotoSerifDisplay-Light.ttf') format("truetype");
}
@font-face {
  font-family: NotoSerifDisplay;
  font-weight: 400;
  src:  url('/fonts/NotoSerifDisplay/NotoSerifDisplay-Medium.ttf') format("truetype");
}
@font-face {
  font-family: NotoSerifDisplay;
  font-weight: 500;
  src:  url('/fonts/NotoSerifDisplay/NotoSerifDisplay-SemiBold.ttf') format("truetype");
}
@font-face {
  font-family: NotoSerifDisplay;
  font-weight: 600;
  src:  url('/fonts/NotoSerifDisplay/NotoSerifDisplay-Bold.ttf') format("truetype");
}

/* Inter */
@font-face {
  font-family: Inter;
  font-weight: 300;
  src:  url('/fonts/Inter/Inter-Light.ttf') format("truetype");
}
@font-face {
  font-family: Inter;
  font-weight: 400;
  src:  url('/fonts/Inter/Inter-Medium.ttf') format("truetype");
}
@font-face {
  font-family: Inter;
  font-weight: 500;
  src:  url('/fonts/Inter/Inter-SemiBold.ttf') format("truetype");
}
@font-face {
  font-family: Inter;
  font-weight: 600;
  src:  url('/fonts/Inter/Inter-Bold.ttf') format("truetype");
}